*.hi
*.o
*.sqlite3
*.swp
.DS_Store
.cabal-sandbox
.hsenv*
.stack-work/
config/client_session_key.aes
dist*
isaacranks.cabal
node_modules/
static/combined/
static/js/bundle.js
static/js/bundle.js.map
static/tmp/
yesod-devel/
/.ghc.environment.*
