.icons {
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    background-position: -1152px -1408px;
    display: block;
    height: 64px;
    width: 64px;
}

.icons-collectibles_001 {
    background-position: 0 0;
}

.icons-collectibles_002 {
    background-position: -64px 0;
}

.icons-collectibles_003 {
    background-position: -128px 0;
}

.icons-collectibles_004 {
    background-position: -192px 0;
}

.icons-collectibles_005 {
    background-position: -256px 0;
}

.icons-collectibles_006 {
    background-position: -320px 0;
}

.icons-collectibles_007 {
    background-position: -384px 0;
}

.icons-collectibles_008 {
    background-position: -448px 0;
}

.icons-collectibles_009 {
    background-position: -512px 0;
}

.icons-collectibles_010 {
    background-position: -576px 0;
}

.icons-collectibles_011 {
    background-position: -640px 0;
}

.icons-collectibles_012 {
    background-position: -704px 0;
}

.icons-collectibles_013 {
    background-position: -768px 0;
}

.icons-collectibles_014 {
    background-position: -832px 0;
}

.icons-collectibles_015 {
    background-position: -896px 0;
}

.icons-collectibles_016 {
    background-position: -960px 0;
}

.icons-collectibles_017 {
    background-position: -1024px 0;
}

.icons-collectibles_018 {
    background-position: -1088px 0;
}

.icons-collectibles_019 {
    background-position: -1152px 0;
}

.icons-collectibles_020 {
    background-position: -1216px 0;
}

.icons-collectibles_021 {
    background-position: -1280px 0;
}

.icons-collectibles_022 {
    background-position: -1344px 0;
}

.icons-collectibles_023 {
    background-position: 0 -64px;
}

.icons-collectibles_024 {
    background-position: -64px -64px;
}

.icons-collectibles_025 {
    background-position: -128px -64px;
}

.icons-collectibles_026 {
    background-position: -192px -64px;
}

.icons-collectibles_027 {
    background-position: -256px -64px;
}

.icons-collectibles_028 {
    background-position: -320px -64px;
}

.icons-collectibles_029 {
    background-position: -384px -64px;
}

.icons-collectibles_030 {
    background-position: -448px -64px;
}

.icons-collectibles_031 {
    background-position: -512px -64px;
}

.icons-collectibles_032 {
    background-position: -576px -64px;
}

.icons-collectibles_033 {
    background-position: -640px -64px;
}

.icons-collectibles_034 {
    background-position: -704px -64px;
}

.icons-collectibles_035 {
    background-position: -768px -64px;
}

.icons-collectibles_036 {
    background-position: -832px -64px;
}

.icons-collectibles_037 {
    background-position: -896px -64px;
}

.icons-collectibles_038 {
    background-position: -960px -64px;
}

.icons-collectibles_039 {
    background-position: -1024px -64px;
}

.icons-collectibles_040 {
    background-position: -1088px -64px;
}

.icons-collectibles_041 {
    background-position: -1152px -64px;
}

.icons-collectibles_042 {
    background-position: -1216px -64px;
}

.icons-collectibles_044 {
    background-position: -1280px -64px;
}

.icons-collectibles_045 {
    background-position: -1344px -64px;
}

.icons-collectibles_046 {
    background-position: 0 -128px;
}

.icons-collectibles_047 {
    background-position: -64px -128px;
}

.icons-collectibles_048 {
    background-position: -128px -128px;
}

.icons-collectibles_049 {
    background-position: -192px -128px;
}

.icons-collectibles_050 {
    background-position: -256px -128px;
}

.icons-collectibles_051 {
    background-position: -320px -128px;
}

.icons-collectibles_052 {
    background-position: -384px -128px;
}

.icons-collectibles_053 {
    background-position: -448px -128px;
}

.icons-collectibles_054 {
    background-position: -512px -128px;
}

.icons-collectibles_055 {
    background-position: -576px -128px;
}

.icons-collectibles_056 {
    background-position: -640px -128px;
}

.icons-collectibles_057 {
    background-position: -704px -128px;
}

.icons-collectibles_058 {
    background-position: -768px -128px;
}

.icons-collectibles_060 {
    background-position: -832px -128px;
}

.icons-collectibles_062 {
    background-position: -896px -128px;
}

.icons-collectibles_063 {
    background-position: -960px -128px;
}

.icons-collectibles_064 {
    background-position: -1024px -128px;
}

.icons-collectibles_065 {
    background-position: -1088px -128px;
}

.icons-collectibles_066 {
    background-position: -1152px -128px;
}

.icons-collectibles_067 {
    background-position: -1216px -128px;
}

.icons-collectibles_068 {
    background-position: -1280px -128px;
}

.icons-collectibles_069 {
    background-position: -1344px -128px;
}

.icons-collectibles_070 {
    background-position: 0 -192px;
}

.icons-collectibles_071 {
    background-position: -64px -192px;
}

.icons-collectibles_072 {
    background-position: -128px -192px;
}

.icons-collectibles_073 {
    background-position: -192px -192px;
}

.icons-collectibles_074 {
    background-position: -256px -192px;
}

.icons-collectibles_075 {
    background-position: -320px -192px;
}

.icons-collectibles_076 {
    background-position: -384px -192px;
}

.icons-collectibles_077 {
    background-position: -448px -192px;
}

.icons-collectibles_078 {
    background-position: -512px -192px;
}

.icons-collectibles_079 {
    background-position: -576px -192px;
}

.icons-collectibles_080 {
    background-position: -640px -192px;
}

.icons-collectibles_081 {
    background-position: -704px -192px;
}

.icons-collectibles_082 {
    background-position: -768px -192px;
}

.icons-collectibles_083 {
    background-position: -832px -192px;
}

.icons-collectibles_084 {
    background-position: -896px -192px;
}

.icons-collectibles_085 {
    background-position: -960px -192px;
}

.icons-collectibles_086 {
    background-position: -1024px -192px;
}

.icons-collectibles_087 {
    background-position: -1088px -192px;
}

.icons-collectibles_088 {
    background-position: -1152px -192px;
}

.icons-collectibles_089 {
    background-position: -1216px -192px;
}

.icons-collectibles_090 {
    background-position: -1280px -192px;
}

.icons-collectibles_091 {
    background-position: -1344px -192px;
}

.icons-collectibles_092 {
    background-position: 0 -256px;
}

.icons-collectibles_093 {
    background-position: -64px -256px;
}

.icons-collectibles_094 {
    background-position: -128px -256px;
}

.icons-collectibles_095 {
    background-position: -192px -256px;
}

.icons-collectibles_096 {
    background-position: -256px -256px;
}

.icons-collectibles_097 {
    background-position: -320px -256px;
}

.icons-collectibles_098 {
    background-position: -384px -256px;
}

.icons-collectibles_099 {
    background-position: -448px -256px;
}

.icons-collectibles_100 {
    background-position: -512px -256px;
}

.icons-collectibles_101 {
    background-position: -576px -256px;
}

.icons-collectibles_102 {
    background-position: -640px -256px;
}

.icons-collectibles_103 {
    background-position: -704px -256px;
}

.icons-collectibles_104 {
    background-position: -768px -256px;
}

.icons-collectibles_105 {
    background-position: -832px -256px;
}

.icons-collectibles_106 {
    background-position: -896px -256px;
}

.icons-collectibles_107 {
    background-position: -960px -256px;
}

.icons-collectibles_108 {
    background-position: -1024px -256px;
}

.icons-collectibles_109 {
    background-position: -1088px -256px;
}

.icons-collectibles_110 {
    background-position: -1152px -256px;
}

.icons-collectibles_111 {
    background-position: -1216px -256px;
}

.icons-collectibles_112 {
    background-position: -1280px -256px;
}

.icons-collectibles_113 {
    background-position: -1344px -256px;
}

.icons-collectibles_114 {
    background-position: 0 -320px;
}

.icons-collectibles_115 {
    background-position: -64px -320px;
}

.icons-collectibles_116 {
    background-position: -128px -320px;
}

.icons-collectibles_117 {
    background-position: -192px -320px;
}

.icons-collectibles_118 {
    background-position: -256px -320px;
}

.icons-collectibles_119 {
    background-position: -320px -320px;
}

.icons-collectibles_120 {
    background-position: -384px -320px;
}

.icons-collectibles_121 {
    background-position: -448px -320px;
}

.icons-collectibles_122 {
    background-position: -512px -320px;
}

.icons-collectibles_123 {
    background-position: -576px -320px;
}

.icons-collectibles_124 {
    background-position: -640px -320px;
}

.icons-collectibles_125 {
    background-position: -704px -320px;
}

.icons-collectibles_126 {
    background-position: -768px -320px;
}

.icons-collectibles_127 {
    background-position: -832px -320px;
}

.icons-collectibles_128 {
    background-position: -896px -320px;
}

.icons-collectibles_129 {
    background-position: -960px -320px;
}

.icons-collectibles_130 {
    background-position: -1024px -320px;
}

.icons-collectibles_131 {
    background-position: -1088px -320px;
}

.icons-collectibles_132 {
    background-position: -1152px -320px;
}

.icons-collectibles_133 {
    background-position: -1216px -320px;
}

.icons-collectibles_134 {
    background-position: -1280px -320px;
}

.icons-collectibles_135 {
    background-position: -1344px -320px;
}

.icons-collectibles_136 {
    background-position: 0 -384px;
}

.icons-collectibles_137 {
    background-position: -64px -384px;
}

.icons-collectibles_138 {
    background-position: -128px -384px;
}

.icons-collectibles_139 {
    background-position: -192px -384px;
}

.icons-collectibles_140 {
    background-position: -256px -384px;
}

.icons-collectibles_141 {
    background-position: -320px -384px;
}

.icons-collectibles_142 {
    background-position: -384px -384px;
}

.icons-collectibles_143 {
    background-position: -448px -384px;
}

.icons-collectibles_144 {
    background-position: -512px -384px;
}

.icons-collectibles_145 {
    background-position: -576px -384px;
}

.icons-collectibles_146 {
    background-position: -640px -384px;
}

.icons-collectibles_147 {
    background-position: -704px -384px;
}

.icons-collectibles_148 {
    background-position: -768px -384px;
}

.icons-collectibles_149 {
    background-position: -832px -384px;
}

.icons-collectibles_150 {
    background-position: -896px -384px;
}

.icons-collectibles_151 {
    background-position: -960px -384px;
}

.icons-collectibles_152 {
    background-position: -1024px -384px;
}

.icons-collectibles_153 {
    background-position: -1088px -384px;
}

.icons-collectibles_154 {
    background-position: -1152px -384px;
}

.icons-collectibles_155 {
    background-position: -1216px -384px;
}

.icons-collectibles_156 {
    background-position: -1280px -384px;
}

.icons-collectibles_157 {
    background-position: -1344px -384px;
}

.icons-collectibles_158 {
    background-position: 0 -448px;
}

.icons-collectibles_159 {
    background-position: -64px -448px;
}

.icons-collectibles_160 {
    background-position: -128px -448px;
}

.icons-collectibles_161 {
    background-position: -192px -448px;
}

.icons-collectibles_162 {
    background-position: -256px -448px;
}

.icons-collectibles_163 {
    background-position: -320px -448px;
}

.icons-collectibles_164 {
    background-position: -384px -448px;
}

.icons-collectibles_165 {
    background-position: -448px -448px;
}

.icons-collectibles_166 {
    background-position: -512px -448px;
}

.icons-collectibles_167 {
    background-position: -576px -448px;
}

.icons-collectibles_168 {
    background-position: -640px -448px;
}

.icons-collectibles_169 {
    background-position: -704px -448px;
}

.icons-collectibles_170 {
    background-position: -768px -448px;
}

.icons-collectibles_171 {
    background-position: -832px -448px;
}

.icons-collectibles_172 {
    background-position: -896px -448px;
}

.icons-collectibles_173 {
    background-position: -960px -448px;
}

.icons-collectibles_174 {
    background-position: -1024px -448px;
}

.icons-collectibles_175 {
    background-position: -1088px -448px;
}

.icons-collectibles_176 {
    background-position: -1152px -448px;
}

.icons-collectibles_177 {
    background-position: -1216px -448px;
}

.icons-collectibles_178 {
    background-position: -1280px -448px;
}

.icons-collectibles_179 {
    background-position: -1344px -448px;
}

.icons-collectibles_180 {
    background-position: 0 -512px;
}

.icons-collectibles_181 {
    background-position: -64px -512px;
}

.icons-collectibles_182 {
    background-position: -128px -512px;
}

.icons-collectibles_183 {
    background-position: -192px -512px;
}

.icons-collectibles_184 {
    background-position: -256px -512px;
}

.icons-collectibles_185 {
    background-position: -320px -512px;
}

.icons-collectibles_186 {
    background-position: -384px -512px;
}

.icons-collectibles_187 {
    background-position: -448px -512px;
}

.icons-collectibles_188 {
    background-position: -512px -512px;
}

.icons-collectibles_189 {
    background-position: -576px -512px;
}

.icons-collectibles_190 {
    background-position: -640px -512px;
}

.icons-collectibles_191 {
    background-position: -704px -512px;
}

.icons-collectibles_192 {
    background-position: -768px -512px;
}

.icons-collectibles_193 {
    background-position: -832px -512px;
}

.icons-collectibles_194 {
    background-position: -896px -512px;
}

.icons-collectibles_195 {
    background-position: -960px -512px;
}

.icons-collectibles_196 {
    background-position: -1024px -512px;
}

.icons-collectibles_197 {
    background-position: -1088px -512px;
}

.icons-collectibles_198 {
    background-position: -1152px -512px;
}

.icons-collectibles_199 {
    background-position: -1216px -512px;
}

.icons-collectibles_200 {
    background-position: -1280px -512px;
}

.icons-collectibles_201 {
    background-position: -1344px -512px;
}

.icons-collectibles_202 {
    background-position: 0 -576px;
}

.icons-collectibles_203 {
    background-position: -64px -576px;
}

.icons-collectibles_204 {
    background-position: -128px -576px;
}

.icons-collectibles_205 {
    background-position: -192px -576px;
}

.icons-collectibles_206 {
    background-position: -256px -576px;
}

.icons-collectibles_207 {
    background-position: -320px -576px;
}

.icons-collectibles_208 {
    background-position: -384px -576px;
}

.icons-collectibles_209 {
    background-position: -448px -576px;
}

.icons-collectibles_210 {
    background-position: -512px -576px;
}

.icons-collectibles_211 {
    background-position: -576px -576px;
}

.icons-collectibles_212 {
    background-position: -640px -576px;
}

.icons-collectibles_213 {
    background-position: -704px -576px;
}

.icons-collectibles_214 {
    background-position: -768px -576px;
}

.icons-collectibles_215 {
    background-position: -832px -576px;
}

.icons-collectibles_216 {
    background-position: -896px -576px;
}

.icons-collectibles_217 {
    background-position: -960px -576px;
}

.icons-collectibles_218 {
    background-position: -1024px -576px;
}

.icons-collectibles_219 {
    background-position: -1088px -576px;
}

.icons-collectibles_220 {
    background-position: -1152px -576px;
}

.icons-collectibles_221 {
    background-position: -1216px -576px;
}

.icons-collectibles_222 {
    background-position: -1280px -576px;
}

.icons-collectibles_223 {
    background-position: -1344px -576px;
}

.icons-collectibles_224 {
    background-position: 0 -640px;
}

.icons-collectibles_225 {
    background-position: -64px -640px;
}

.icons-collectibles_226 {
    background-position: -128px -640px;
}

.icons-collectibles_227 {
    background-position: -192px -640px;
}

.icons-collectibles_228 {
    background-position: -256px -640px;
}

.icons-collectibles_229 {
    background-position: -320px -640px;
}

.icons-collectibles_230 {
    background-position: -384px -640px;
}

.icons-collectibles_231 {
    background-position: -448px -640px;
}

.icons-collectibles_232 {
    background-position: -512px -640px;
}

.icons-collectibles_233 {
    background-position: -576px -640px;
}

.icons-collectibles_234 {
    background-position: -640px -640px;
}

.icons-collectibles_236 {
    background-position: -704px -640px;
}

.icons-collectibles_237 {
    background-position: -768px -640px;
}

.icons-collectibles_238 {
    background-position: -832px -640px;
}

.icons-collectibles_239 {
    background-position: -896px -640px;
}

.icons-collectibles_240 {
    background-position: -960px -640px;
}

.icons-collectibles_241 {
    background-position: -1024px -640px;
}

.icons-collectibles_242 {
    background-position: -1088px -640px;
}

.icons-collectibles_243 {
    background-position: -1152px -640px;
}

.icons-collectibles_244 {
    background-position: -1216px -640px;
}

.icons-collectibles_245 {
    background-position: -1280px -640px;
}

.icons-collectibles_246 {
    background-position: -1344px -640px;
}

.icons-collectibles_247 {
    background-position: 0 -704px;
}

.icons-collectibles_248 {
    background-position: -64px -704px;
}

.icons-collectibles_249 {
    background-position: -128px -704px;
}

.icons-collectibles_250 {
    background-position: -192px -704px;
}

.icons-collectibles_251 {
    background-position: -256px -704px;
}

.icons-collectibles_252 {
    background-position: -320px -704px;
}

.icons-collectibles_253 {
    background-position: -384px -704px;
}

.icons-collectibles_254 {
    background-position: -448px -704px;
}

.icons-collectibles_255 {
    background-position: -512px -704px;
}

.icons-collectibles_256 {
    background-position: -576px -704px;
}

.icons-collectibles_257 {
    background-position: -640px -704px;
}

.icons-collectibles_258 {
    background-position: -704px -704px;
}

.icons-collectibles_259 {
    background-position: -768px -704px;
}

.icons-collectibles_260 {
    background-position: -832px -704px;
}

.icons-collectibles_261 {
    background-position: -896px -704px;
}

.icons-collectibles_262 {
    background-position: -960px -704px;
}

.icons-collectibles_264 {
    background-position: -1024px -704px;
}

.icons-collectibles_265 {
    background-position: -1088px -704px;
}

.icons-collectibles_266 {
    background-position: -1152px -704px;
}

.icons-collectibles_267 {
    background-position: -1216px -704px;
}

.icons-collectibles_268 {
    background-position: -1280px -704px;
}

.icons-collectibles_269 {
    background-position: -1344px -704px;
}

.icons-collectibles_270 {
    background-position: 0 -768px;
}

.icons-collectibles_271 {
    background-position: -64px -768px;
}

.icons-collectibles_272 {
    background-position: -128px -768px;
}

.icons-collectibles_273 {
    background-position: -192px -768px;
}

.icons-collectibles_274 {
    background-position: -256px -768px;
}

.icons-collectibles_275 {
    background-position: -320px -768px;
}

.icons-collectibles_276 {
    background-position: -384px -768px;
}

.icons-collectibles_277 {
    background-position: -448px -768px;
}

.icons-collectibles_278 {
    background-position: -512px -768px;
}

.icons-collectibles_279 {
    background-position: -576px -768px;
}

.icons-collectibles_280 {
    background-position: -640px -768px;
}

.icons-collectibles_281 {
    background-position: -704px -768px;
}

.icons-collectibles_282 {
    background-position: -768px -768px;
}

.icons-collectibles_283 {
    background-position: -832px -768px;
}

.icons-collectibles_284 {
    background-position: -896px -768px;
}

.icons-collectibles_285 {
    background-position: -960px -768px;
}

.icons-collectibles_286 {
    background-position: -1024px -768px;
}

.icons-collectibles_287 {
    background-position: -1088px -768px;
}

.icons-collectibles_288 {
    background-position: -1152px -768px;
}

.icons-collectibles_289 {
    background-position: -1216px -768px;
}

.icons-collectibles_290 {
    background-position: -1280px -768px;
}

.icons-collectibles_291 {
    background-position: -1344px -768px;
}

.icons-collectibles_292 {
    background-position: 0 -832px;
}

.icons-collectibles_293 {
    background-position: -64px -832px;
}

.icons-collectibles_294 {
    background-position: -128px -832px;
}

.icons-collectibles_295 {
    background-position: -192px -832px;
}

.icons-collectibles_296 {
    background-position: -256px -832px;
}

.icons-collectibles_297 {
    background-position: -320px -832px;
}

.icons-collectibles_298 {
    background-position: -384px -832px;
}

.icons-collectibles_299 {
    background-position: -448px -832px;
}

.icons-collectibles_300 {
    background-position: -512px -832px;
}

.icons-collectibles_301 {
    background-position: -576px -832px;
}

.icons-collectibles_302 {
    background-position: -640px -832px;
}

.icons-collectibles_303 {
    background-position: -704px -832px;
}

.icons-collectibles_304 {
    background-position: -768px -832px;
}

.icons-collectibles_305 {
    background-position: -832px -832px;
}

.icons-collectibles_306 {
    background-position: -896px -832px;
}

.icons-collectibles_307 {
    background-position: -960px -832px;
}

.icons-collectibles_308 {
    background-position: -1024px -832px;
}

.icons-collectibles_309 {
    background-position: -1088px -832px;
}

.icons-collectibles_310 {
    background-position: -1152px -832px;
}

.icons-collectibles_311 {
    background-position: -1216px -832px;
}

.icons-collectibles_312 {
    background-position: -1280px -832px;
}

.icons-collectibles_313 {
    background-position: -1344px -832px;
}

.icons-collectibles_314 {
    background-position: 0 -896px;
}

.icons-collectibles_315 {
    background-position: -64px -896px;
}

.icons-collectibles_316 {
    background-position: -128px -896px;
}

.icons-collectibles_317 {
    background-position: -192px -896px;
}

.icons-collectibles_318 {
    background-position: -256px -896px;
}

.icons-collectibles_319 {
    background-position: -320px -896px;
}

.icons-collectibles_320 {
    background-position: -384px -896px;
}

.icons-collectibles_321 {
    background-position: -448px -896px;
}

.icons-collectibles_322 {
    background-position: -512px -896px;
}

.icons-collectibles_323 {
    background-position: -576px -896px;
}

.icons-collectibles_324 {
    background-position: -640px -896px;
}

.icons-collectibles_325 {
    background-position: -704px -896px;
}

.icons-collectibles_326 {
    background-position: -768px -896px;
}

.icons-collectibles_327 {
    background-position: -832px -896px;
}

.icons-collectibles_328 {
    background-position: -896px -896px;
}

.icons-collectibles_329 {
    background-position: -960px -896px;
}

.icons-collectibles_330 {
    background-position: -1024px -896px;
}

.icons-collectibles_331 {
    background-position: -1088px -896px;
}

.icons-collectibles_332 {
    background-position: -1152px -896px;
}

.icons-collectibles_333 {
    background-position: -1216px -896px;
}

.icons-collectibles_334 {
    background-position: -1280px -896px;
}

.icons-collectibles_335 {
    background-position: -1344px -896px;
}

.icons-collectibles_336 {
    background-position: 0 -960px;
}

.icons-collectibles_337 {
    background-position: -64px -960px;
}

.icons-collectibles_338 {
    background-position: -128px -960px;
}

.icons-collectibles_339 {
    background-position: -192px -960px;
}

.icons-collectibles_340 {
    background-position: -256px -960px;
}

.icons-collectibles_341 {
    background-position: -320px -960px;
}

.icons-collectibles_342 {
    background-position: -384px -960px;
}

.icons-collectibles_343 {
    background-position: -448px -960px;
}

.icons-collectibles_344 {
    background-position: -512px -960px;
}

.icons-collectibles_345 {
    background-position: -576px -960px;
}

.icons-collectibles_346 {
    background-position: -640px -960px;
}

.icons-collectibles_347 {
    background-position: -704px -960px;
}

.icons-collectibles_348 {
    background-position: -768px -960px;
}

.icons-collectibles_349 {
    background-position: -832px -960px;
}

.icons-collectibles_350 {
    background-position: -896px -960px;
}

.icons-collectibles_351 {
    background-position: -960px -960px;
}

.icons-collectibles_352 {
    background-position: -1024px -960px;
}

.icons-collectibles_353 {
    background-position: -1088px -960px;
}

.icons-collectibles_354 {
    background-position: -1152px -960px;
}

.icons-collectibles_355 {
    background-position: -1216px -960px;
}

.icons-collectibles_356 {
    background-position: -1280px -960px;
}

.icons-collectibles_357 {
    background-position: -1344px -960px;
}

.icons-collectibles_358 {
    background-position: 0 -1024px;
}

.icons-collectibles_359 {
    background-position: -64px -1024px;
}

.icons-collectibles_360 {
    background-position: -128px -1024px;
}

.icons-collectibles_361 {
    background-position: -192px -1024px;
}

.icons-collectibles_362 {
    background-position: -256px -1024px;
}

.icons-collectibles_363 {
    background-position: -320px -1024px;
}

.icons-collectibles_364 {
    background-position: -384px -1024px;
}

.icons-collectibles_365 {
    background-position: -448px -1024px;
}

.icons-collectibles_366 {
    background-position: -512px -1024px;
}

.icons-collectibles_367 {
    background-position: -576px -1024px;
}

.icons-collectibles_368 {
    background-position: -640px -1024px;
}

.icons-collectibles_369 {
    background-position: -704px -1024px;
}

.icons-collectibles_370 {
    background-position: -768px -1024px;
}

.icons-collectibles_371 {
    background-position: -832px -1024px;
}

.icons-collectibles_372 {
    background-position: -896px -1024px;
}

.icons-collectibles_373 {
    background-position: -960px -1024px;
}

.icons-collectibles_374 {
    background-position: -1024px -1024px;
}

.icons-collectibles_375 {
    background-position: -1088px -1024px;
}

.icons-collectibles_376 {
    background-position: -1152px -1024px;
}

.icons-collectibles_377 {
    background-position: -1216px -1024px;
}

.icons-collectibles_378 {
    background-position: -1280px -1024px;
}

.icons-collectibles_379 {
    background-position: -1344px -1024px;
}

.icons-collectibles_380 {
    background-position: 0 -1088px;
}

.icons-collectibles_381 {
    background-position: -64px -1088px;
}

.icons-collectibles_382 {
    background-position: -128px -1088px;
}

.icons-collectibles_383 {
    background-position: -192px -1088px;
}

.icons-collectibles_384 {
    background-position: -256px -1088px;
}

.icons-collectibles_385 {
    background-position: -320px -1088px;
}

.icons-collectibles_386 {
    background-position: -384px -1088px;
}

.icons-collectibles_387 {
    background-position: -448px -1088px;
}

.icons-collectibles_388 {
    background-position: -512px -1088px;
}

.icons-collectibles_389 {
    background-position: -576px -1088px;
}

.icons-collectibles_390 {
    background-position: -640px -1088px;
}

.icons-collectibles_391 {
    background-position: -704px -1088px;
}

.icons-collectibles_392 {
    background-position: -768px -1088px;
}

.icons-collectibles_393 {
    background-position: -832px -1088px;
}

.icons-collectibles_394 {
    background-position: -896px -1088px;
}

.icons-collectibles_395 {
    background-position: -960px -1088px;
}

.icons-collectibles_396 {
    background-position: -1024px -1088px;
}

.icons-collectibles_397 {
    background-position: -1088px -1088px;
}

.icons-collectibles_398 {
    background-position: -1152px -1088px;
}

.icons-collectibles_399 {
    background-position: -1216px -1088px;
}

.icons-collectibles_400 {
    background-position: -1280px -1088px;
}

.icons-collectibles_401 {
    background-position: -1344px -1088px;
}

.icons-collectibles_402 {
    background-position: 0 -1152px;
}

.icons-collectibles_403 {
    background-position: -64px -1152px;
}

.icons-collectibles_404 {
    background-position: -128px -1152px;
}

.icons-collectibles_405 {
    background-position: -192px -1152px;
}

.icons-collectibles_406 {
    background-position: -256px -1152px;
}

.icons-collectibles_407 {
    background-position: -320px -1152px;
}

.icons-collectibles_408 {
    background-position: -384px -1152px;
}

.icons-collectibles_409 {
    background-position: -448px -1152px;
}

.icons-collectibles_410 {
    background-position: -512px -1152px;
}

.icons-collectibles_411 {
    background-position: -576px -1152px;
}

.icons-collectibles_412 {
    background-position: -640px -1152px;
}

.icons-collectibles_413 {
    background-position: -704px -1152px;
}

.icons-collectibles_414 {
    background-position: -768px -1152px;
}

.icons-collectibles_415 {
    background-position: -832px -1152px;
}

.icons-collectibles_416 {
    background-position: -896px -1152px;
}

.icons-collectibles_417 {
    background-position: -960px -1152px;
}

.icons-collectibles_418 {
    background-position: -1024px -1152px;
}

.icons-collectibles_419 {
    background-position: -1088px -1152px;
}

.icons-collectibles_420 {
    background-position: -1152px -1152px;
}

.icons-collectibles_421 {
    background-position: -1216px -1152px;
}

.icons-collectibles_422 {
    background-position: -1280px -1152px;
}

.icons-collectibles_423 {
    background-position: -1344px -1152px;
}

.icons-collectibles_424 {
    background-position: 0 -1216px;
}

.icons-collectibles_425 {
    background-position: -64px -1216px;
}

.icons-collectibles_426 {
    background-position: -128px -1216px;
}

.icons-collectibles_427 {
    background-position: -192px -1216px;
}

.icons-collectibles_428 {
    background-position: -256px -1216px;
}

.icons-collectibles_429 {
    background-position: -320px -1216px;
}

.icons-collectibles_430 {
    background-position: -384px -1216px;
}

.icons-collectibles_431 {
    background-position: -448px -1216px;
}

.icons-collectibles_432 {
    background-position: -512px -1216px;
}

.icons-collectibles_433 {
    background-position: -576px -1216px;
}

.icons-collectibles_434 {
    background-position: -640px -1216px;
}

.icons-collectibles_435 {
    background-position: -704px -1216px;
}

.icons-collectibles_436 {
    background-position: -768px -1216px;
}

.icons-collectibles_437 {
    background-position: -832px -1216px;
}

.icons-collectibles_438 {
    background-position: -896px -1216px;
}

.icons-collectibles_439 {
    background-position: -960px -1216px;
}

.icons-collectibles_440 {
    background-position: -1024px -1216px;
}

.icons-collectibles_441 {
    background-position: -1088px -1216px;
}

.icons-collectibles_442 {
    background-position: -1152px -1216px;
}

.icons-collectibles_443 {
    background-position: -1216px -1216px;
}

.icons-collectibles_444 {
    background-position: -1280px -1216px;
}

.icons-collectibles_445 {
    background-position: -1344px -1216px;
}

.icons-collectibles_446 {
    background-position: 0 -1280px;
}

.icons-collectibles_447 {
    background-position: -64px -1280px;
}

.icons-collectibles_448 {
    background-position: -128px -1280px;
}

.icons-collectibles_449 {
    background-position: -192px -1280px;
}

.icons-collectibles_450 {
    background-position: -256px -1280px;
}

.icons-collectibles_451 {
    background-position: -320px -1280px;
}

.icons-collectibles_452 {
    background-position: -384px -1280px;
}

.icons-collectibles_453 {
    background-position: -448px -1280px;
}

.icons-collectibles_454 {
    background-position: -512px -1280px;
}

.icons-collectibles_455 {
    background-position: -576px -1280px;
}

.icons-collectibles_456 {
    background-position: -640px -1280px;
}

.icons-collectibles_457 {
    background-position: -704px -1280px;
}

.icons-collectibles_458 {
    background-position: -768px -1280px;
}

.icons-collectibles_459 {
    background-position: -832px -1280px;
}

.icons-collectibles_460 {
    background-position: -896px -1280px;
}

.icons-collectibles_461 {
    background-position: -960px -1280px;
}

.icons-collectibles_462 {
    background-position: -1024px -1280px;
}

.icons-collectibles_463 {
    background-position: -1088px -1280px;
}

.icons-collectibles_464 {
    background-position: -1152px -1280px;
}

.icons-collectibles_465 {
    background-position: -1216px -1280px;
}

.icons-collectibles_466 {
    background-position: -1280px -1280px;
}

.icons-collectibles_467 {
    background-position: -1344px -1280px;
}

.icons-collectibles_468 {
    background-position: 0 -1344px;
}

.icons-collectibles_469 {
    background-position: -64px -1344px;
}

.icons-collectibles_470 {
    background-position: -128px -1344px;
}

.icons-collectibles_471 {
    background-position: -192px -1344px;
}

.icons-collectibles_472 {
    background-position: -256px -1344px;
}

.icons-collectibles_473 {
    background-position: -320px -1344px;
}

.icons-collectibles_474 {
    background-position: -384px -1344px;
}

.icons-collectibles_475 {
    background-position: -448px -1344px;
}

.icons-collectibles_476 {
    background-position: -512px -1344px;
}

.icons-collectibles_477 {
    background-position: -576px -1344px;
}

.icons-collectibles_478 {
    background-position: -640px -1344px;
}

.icons-collectibles_479 {
    background-position: -704px -1344px;
}

.icons-collectibles_480 {
    background-position: -768px -1344px;
}

.icons-collectibles_481 {
    background-position: -832px -1344px;
}

.icons-collectibles_482 {
    background-position: -896px -1344px;
}

.icons-collectibles_483 {
    background-position: -960px -1344px;
}

.icons-collectibles_484 {
    background-position: -1024px -1344px;
}

.icons-collectibles_485 {
    background-position: -1088px -1344px;
}

.icons-collectibles_486 {
    background-position: -1152px -1344px;
}

.icons-collectibles_487 {
    background-position: -1216px -1344px;
}

.icons-collectibles_488 {
    background-position: -1280px -1344px;
}

.icons-collectibles_489 {
    background-position: -1344px -1344px;
}

.icons-collectibles_490 {
    background-position: -1408px 0;
}

.icons-collectibles_491 {
    background-position: -1408px -64px;
}

.icons-collectibles_492 {
    background-position: -1408px -128px;
}

.icons-collectibles_493 {
    background-position: -1408px -192px;
}

.icons-collectibles_494 {
    background-position: -1408px -256px;
}

.icons-collectibles_495 {
    background-position: -1408px -320px;
}

.icons-collectibles_496 {
    background-position: -1408px -384px;
}

.icons-collectibles_497 {
    background-position: -1408px -448px;
}

.icons-collectibles_498 {
    background-position: -1408px -512px;
}

.icons-collectibles_499 {
    background-position: -1408px -576px;
}

.icons-collectibles_500 {
    background-position: -1408px -640px;
}

.icons-collectibles_501 {
    background-position: -1408px -704px;
}

.icons-collectibles_502 {
    background-position: -1408px -768px;
}

.icons-collectibles_503 {
    background-position: -1408px -832px;
}

.icons-collectibles_504 {
    background-position: -1408px -896px;
}

.icons-collectibles_505 {
    background-position: -1408px -960px;
}

.icons-collectibles_506 {
    background-position: -1408px -1024px;
}

.icons-collectibles_507 {
    background-position: -1408px -1088px;
}

.icons-collectibles_508 {
    background-position: -1408px -1152px;
}

.icons-collectibles_509 {
    background-position: -1408px -1216px;
}

.icons-collectibles_510 {
    background-position: -1408px -1280px;
}

.icons-collectibles_511 {
    background-position: -1408px -1344px;
}

.icons-collectibles_512 {
    background-position: 0 -1408px;
}

.icons-collectibles_513 {
    background-position: -64px -1408px;
}

.icons-collectibles_514 {
    background-position: -128px -1408px;
}

.icons-collectibles_515 {
    background-position: -192px -1408px;
}

.icons-collectibles_516 {
    background-position: -256px -1408px;
}

.icons-collectibles_517 {
    background-position: -320px -1408px;
}

.icons-collectibles_518 {
    background-position: -384px -1408px;
}

.icons-collectibles_519 {
    background-position: -448px -1408px;
}

.icons-collectibles_520 {
    background-position: -512px -1408px;
}

.icons-collectibles_521 {
    background-position: -576px -1408px;
}

.icons-collectibles_522 {
    background-position: -640px -1408px;
}

.icons-collectibles_523 {
    background-position: -704px -1408px;
}

.icons-collectibles_524 {
    background-position: -768px -1408px;
}

.icons-collectibles_525 {
    background-position: -832px -1408px;
}

.icons-collectibles_526 {
    background-position: -896px -1408px;
}

.icons-collectibles_527 {
    background-position: -960px -1408px;
}

.icons-collectibles_528 {
    background-position: -1024px -1408px;
}

.icons-collectibles_529 {
    background-position: -1088px -1408px;
}

.icons-questionmark {
    background-position: -1152px -1408px;
}
