body { padding-top: 70px; }

.voting-enter {
    opacity: 0;
    transition: opacity .15s linear;
}

.voting-enter.voting-enter-active {
    opacity: 1;
}

div {
    outline: none;
}

table.ranks-table > tbody > tr > td {
    line-height: 64px;
    vertical-align: middle;
}
